@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2? family= Nunito:wght@600 & family= Poppins:ital,wght@0,100;1,100;1,200 & display=swap');


body, h1, h2, p, ul, li, a{
    margin: 0;
    padding: 0;
    
}

body{
    
    font-family: 'Nunito',helvetica, Arial, sans-serif;

    color: #222222;
}

*{
    box-sizing: border-box;
}

        /*  CSS - */

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    display: block;
    max-width: 100%;
}


        /*  CSS -  SUPERINFO*/


.superinfo-bg{
    background-color: #122ab2;
    color: white;

}
.superinfo-bg a{
    color: white;
}

.superinfo{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 960px;
    margin: 0px auto;
    padding: 10px;
}

.superinfo > p, a{
    padding: 2.5px;
}


        /*  CSS -  M E N U */

.menu-bg{
    background-color: #2c70ff;

}

.menu{
    max-width: 960px;
    margin: 0 auto ;
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;

}
.menu a{
    color: white;
}

.menu-logo{
    font-size: 2em;
    font-weight:bold;
    margin:  0 10px;

}


        /*  CSS -  M E N U - N A V  */


.menu-nav ul{
    display: flex;
    flex-wrap: wrap;
}

.menu-nav a{
    font-size: 1.25em;
    display: block;
    padding: 10px ;
}
.menu-nav a:hover{
    color:#122ab2
    
}


        /*  CSS -  M E N U - I N T R O D U Ç Ã O   */


.introducao{
    font-size: 2.5em;
    line-height: 1;
    max-width: 960px;
    margin: 0 auto;
    padding: 60px 10px;
}


        /*  CSS -  S O B R E    */


.sobre{
    border-top: 2px solid #122ab2;
    border-bottom: 2px solid #2c70ff;
    max-width: 960px ;
    margin: 0 auto;
    padding: 60px 0px;

    display: flex;
    flex-wrap: wrap;

}

.sobre-info{
    flex: 2 1 300px;
    margin: 10px;

}

.sobre-info h1{
    font-size: 2.5em;
    margin-bottom: 10px;
}

.sobre-info p{
    text-align: justify;
    font-size: 1.25em;
    line-height: 1.4;
    margin-bottom: 1em;
    color: #4a4a4a;
}


.sobre-img{
    flex: 1 1 200px;
    margin: 10px ;


}


        /*  CSS -  P R O D U T O S     */


.produtos {
    max-width: 960px ;
    margin: 60px auto;

}

.produtos h1{
    font-size: 2.5em;
    margin: 0px 10px 60px 10px;
}

.produtos-container{
    display: flex;
    flex-wrap: wrap;
    align-items: end;

    
}

.produtos-item{
    flex: 1 1 175px;
    margin: 10px;
    

}

.produtos-item h2{
    font-size: 2em;
    background-color: #dddddd;
    color: #808080;
    padding: 60px 20px ;

}
.roxo{
    border-top: 8px solid #7e4ed9;
}

.rosa{
    border-top: 8px solid #f9265e;

}
.azul{
    border-top:  8px solid #66d9eb;
}




        /*  CSS -  P R E Ç O S    */




.preco{
    background-color: #f7f7f7;
    padding: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap-reverse;
    align-items: flex-start;

}

.preco-item{
    flex:1 1 260px;
    border: 4px solid white;
    margin: 10px ;
    padding: 20px;
    max-width: 960px;
    
}

.preco-item h2{
    font-size: 2.5em;
    color: #808080;
    text-align: center;
    margin-top: 40px;
}

.preco-item span{
    max-width: 300px;
    margin: 20px auto;
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 2.5rem;
    padding: 10px 0px 5px 0px ;
    border-top: 4px solid white;
    border-bottom: 4px solid white;
    
}
.preco-item sup{
    font-size: 1.5rem;
}

.preco-item ul{
    padding-left: 2px;
    max-width: 300px;
    margin: 20px auto;
    font-size: 1.25em;
    
    font-style: italic;
    color: #7c7c7c;
}

.preco-item li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.preco-item li::after{
    content: '';
    display: block;
    width: 5px;
    height: 5px;
    background-color: #2c70ff;
    border-radius: 50%;
}

.preco-item a{
    max-width: 300px ;
    min-width: 200px;
    display: block;
    margin: 20px auto;
    border: 4px solid #222222;
    border-radius: 5px;
    color: #222222;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2.25em;
    text-align: center;
    padding: 15px 0px ;

}
.preco-item a:hover{
    background-color: #2c70ff;
    color: white;
    border: 4px solid #2c70ff;

}

        /*  CSS -  Q U A L I D A D E     */



.qualidade{
    max-width: 960px ;
    margin: 60px auto ;
    display: flex;
    flex-wrap: wrap;
    


}


.qualidade-item{
    flex: 1 1 300px;
    margin: 20px 10px;
    background-color: #f7f7f7;
    padding: 10px;
}

.qualidade-item h2{
    font-size: 2.25em;
    color: #7c7c7c;
    margin-bottom: 20px;

}

.qualidade-item h2::before{
    content: "";
    display: inline-block;
    width: 8px;
    height: 30px;
    margin-right: 10px;
   
    
}



/* codigo usado para marcar os itens de forma alternada/por numero X desejado*/
.qualidade-item:nth-of-type(3n+1) h2::before {
     background-color: #ae70ff;
}

.qualidade-item:nth-of-type(3n+2) h2::before {
     background-color: #f9265e;
}

.qualidade-item:nth-of-type(3n+3) h2::before {
     background-color: #66d9eb;
}


.qualidade-item p{
    font-size: 1.25em;
    color: #7c7c7c;
    line-height: 1.5;
}





        /*  CSS -  N E W S L E T T E R    */


.newsletter{
    background-color: #f7f7f7;
    padding: 60px calc((100% - 960px) / 2);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    
}

.newsletter-info{
    flex:1 1 260px;
    margin: 0px 10px;

    

}

.newsletter-info h1{
    font-size: 2.5em;
    color: #a4a4a4;
    margin-bottom: 20px;
}

.newsletter-info p{
    font-size: 1.25em;
    font-style: italic;
    max-width: 230px;
    color: #7c7c7c;
    margin-bottom: 10px;

}


.newsletter-form{
    flex:2 1 200px;
    margin: 10px ;
    align-self: center;
    display: flex;
    flex-wrap: wrap;


    
}

.newsletter-form input{
    flex: 3 1 200px;
    font-size: 1.25em;
    color: #7c7c7c;
    font-style: italic;
    font-family: "Nunito",helvetica, Arial, sans-serif;
    border: 4px solid #2c70ff;
    background: transparent;
    padding: 10px;
    margin: -2px;
    border-radius: 0px;
}

.newsletter-form #enviar{
    font-family: "Nunito", Arial, Helvetica, sans-serif;
    flex: 1 1 70px;
    background-color: #2c70ff;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.5em;
    font-style: normal;


    
}




footer{
    background-color: #2c70ff;
    text-align: center;
   
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p{
    font-size: 1em;
    font-style: italic;
    

    color: white;
}


